*{
    margin: 0%;
    padding: 0;
    font-family: monospace;
}
body{
    display: grid;
    grid-template-areas: 
    "menu menu menu"
    "main main main"
    "footer footer footer";
    grid-template-rows: 10vh 300vh 15vh;
}

/*-----------------------------------------------------MENU------------------------------------------------------*/

header{
    grid-area: menu;
    background-color: #D7A3FF;
    #logoMenu{
        width: 3vw;
        height: 6vh;
        position: absolute;
        margin-left: 1vw;
        margin-top: 2vh;
    }
    #navegacao{
        display: flex;
        flex-direction: row;
        gap: 5vw;
        font-size: 2.4vh;
        justify-content: center;
        margin-top: 3vh;
        margin-left: 25vw;
        position: absolute;
        a{
            font-size: 1.5vw;
            font-style: normal;
            text-decoration: none;
            color: #000;
            transition: all 0.2s;
        }      
        a:hover{
            transition: all 0.2s;
            transform: scale(1.05);
            color: #000;
            cursor: pointer;
        }
    }
    #carrinhoCompras{
        width: 3vw;
        height: 6vh;
        position: absolute;
        margin-left: 87.5vw;
        margin-top: 2vh;
    }
    #loginCadastro{
        width: 3vw;
        height: 6vh;
        position: absolute;
        margin-left: 92vw;
        margin-top: 2.2vh;
    }
}
/*-----------------------------------------------------CORPO------------------------------------------------------*/

main{
    grid-area: main;
    #imagemLanding{
        img{
            width: 98.87vw;
            margin-left: 0vw;
        }
        #encaminharProdutos{
            background-color: #8fb1fca2;
            width: 23vw;
            height: 80vh;
            margin-left: 65vw;
            margin-top: 8vh;
            border-radius: 5vh;
            position: absolute;
            h1{
                font-weight: normal;
                text-align: center;
                margin-top: 8vh;
            }
            button{
                background-color: #BE65F4;
                width: 12vw;
                height: 9vh;
                border: none;
                border-radius: 2vh;
                margin-left: 6vw;
                margin-top: 5vh;
                a{
                    text-decoration: none;
                    font-size: 1.3vw;
                    color: #000;
                }
                
            }
            button:hover{
                background-color: #D7A3FF;      
                cursor: pointer;
            }
        }
    }
    #novidades{
        
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        #imagemNovidades{
            position: absolute;
            width: 98.8vw;
            height: 18vh;
            align-self: flex-start;
            
        }
        h1{
            text-align: center;
            color: #ffff;
            font-weight: normal;
            font-size: 5vh;
            
        }
        #mds{
            width: 70vw;
            border-radius: 10vh;
        }
    }
    #conhecaProdutos{
        font-weight: normal;
        font-size: 4vw;
        margin-top: 9vh;
        text-align: center;
    }
    .produtosPromocoes{
        display: inline-block;
        margin-top: 11vh;
        #imagem01{
            width: 15vw;
            margin-right: 5.5vw;
            margin-left: 21vw;
            transition: all 0.5s;
        }
        #imagem01:hover{
            transform: scale(1.05);
            transition: all 0.5s;
            cursor: pointer;
        }
        #imagem02{
            width: 15vw;
            margin-right: 5.5vw;
            transition: all 0.5s;
        }
        #imagem02:hover{
            transform: scale(1.05);
            transition: all 0.5s;
            cursor: pointer;
        }
        p{
            font-size: 1.5vw;
            margin-left: 4.3vw;
            margin-right: 10=5vw;
        }
        #socorro{
            font-size: 1.5vw;
            margin-left: 24.35vw;
        }
    }
    #confiraLocalizacao{
        font-size: 4vw;
        margin-top: 15vh;
        text-align: center;
        font-weight: normal;
    }
    #localizacao{
        display: flex;
        justify-content: center;
        margin-top: 10vh;
        margin-left: 13.5vw;
        img{
            width: 5vw;
            margin-top: 60vh;
            margin-left: 10vw;
            
            
        }
    }
    
}

/*-----------------------------------------------------FOOTER------------------------------------------------------*/

footer{
    grid-area: footer;
    background-color: #B1D1F5;
    font-size: 1vw;
    display: flex;
    #contato{
        justify-content: flex-start;
        margin-left: 1vw;
        margin-top: 1vw;
    }
    #direitos{
        align-self: center;
        margin-left: 35vw;
    }
}